<h1 mat-dialog-title >Usuario</h1>
<mat-dialog-content>
    <form [formGroup]="userForm" (submit)="onSave()">
        <!-- NOMBRE -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="text" formControlName="nombre" matInput>
            <mat-error>
                {{baseForm.getErrorMessage(userForm.get('nombre'))}}
            </mat-error>
        </mat-form-field>

        <!-- APELLIDOS -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input type="text" formControlName="apellidos" matInput>
            <mat-error>
                {{baseForm.getErrorMessage(userForm.get('apellidos'))}}
            </mat-error>
        </mat-form-field>

        <!-- USERNAME -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Username</mat-label>
            <input type="text" formControlName="username" matInput>
            <mat-error>
                {{baseForm.getErrorMessage(userForm.get('username'))}}
            </mat-error>
        </mat-form-field>

        <!-- EMAIL -->
        <!-- <mat-form-field class="full-width" appearance="outline">
            <mat-label>Correo Electrónico</mat-label>
            <input type="email" formControlName="email" matInput>
            <mat-error>
                {{baseForm.getErrorMessage(userForm.get('email'))}}
            </mat-error>
        </mat-form-field> -->

        <!-- ROL -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Rol(es)</mat-label>
            <mat-select formControlName="rol" multiple>
                <mat-option *ngFor="let rol of roles" value="rol.cveRol">
                    {{ rol.descripcion + '-' + rol.clave}}
                </mat-option>
                <mat-option value="2">Ventas</mat-option>
            </mat-select>
            
        </mat-form-field>

        <!-- PASSWORD -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input type="password" formControlName="password" matInput>
            <mat-error>
                {{baseForm.getErrorMessage(userForm.get('password'))}}
            </mat-error>
        </mat-form-field>

        <!-- CONFIRM PASSWORD -->
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Repetir Contraseña</mat-label>
            <input type="password" formControlName="confirmPassword" matInput>
            <mat-error>
                {{baseForm.getErrorMessage(userForm.get('confirPassword'))}}
            </mat-error>
        </mat-form-field>

        <div align="center">     
            <button type="button" mat-flat-button color="warn" class="me-2">Limpiar</button>
            <button type="submit" mat-flat-button color="primary">{{titleButton}}</button>
            <div>

            </div>
        </div>
      
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close >
        Cerrar
    </button>
   
</mat-dialog-actions>